---
layout: default
title: What's on at the conference
nav: conf
---
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="big-intro">Now in its fourth year, the Hackference Conference portion is being held in its most beautifully unique venue yet! We are taking over <a href="https://www.theelectric.co.uk/">The Electric</a> in Birmingham, to have an amazing cast of speakers cover a full spectrum of topics. From languages and paradigms to API's and hobby projects, there is something for everyone. So if you are new to programming and computers, an industry expert or anywhere inbetween the two - you do not want to miss out.</p>
				<p class="big-intro">As usual, we'll make sure you will have the best conference lunch you'll ever have, enough snacks and drinks to keep your mind fresh, lots of chances for networking and free entry into our amazing after-party. And you'll get priority tickets to our legendary <a href="/hackathon.html" ><strong>Hackathon</strong></a> when those tickets are released!</p>
			</div>
		</div>
	</div>
</div>

<div class="content-darker venue">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="sub-header">The Venue</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				{% include conference-map.html %}
			</div>
			<div class="col-sm-6">
				<p>This year we are proud to be holding the conference at The Electric, the oldest working cinema in the UK. You'll be treated by its beautiful rooms, comfortable cinema seats, super location - directly behing Grand Central Station (perfect for those who are using public transport) and complimentary snacks, drinks and lunch.</p>
				<p><br><strong>The Electric Cinema </strong><br>47–49 Station Street <br>Birmingham <br>B5 4DY</p>
			</div>
		</div>
	</div>
</div>

<a name="narrators" ></a>
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="sub-header border">Conference Narrators</h4>
			</div>
		</div>
    {% include narrators.html %}
	</div>
</div>

<a name="cast"></a>
{% include speakers.html %}

<a name="schedule"></a>
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="sub-header">Schedule</h4>
				<h5 class="sub-header">The Schedule will be released closer to the event</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class=" table-responsive" >
					<table class="table">
					  <thead>
							<tr>
								<th width="20%"></th>
								<th>Screen 1</th>
								<th>Screen 2</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									8:30 - 9:30
								</td>
								<td colspan="2">
									Registration
								</td>
							</tr>
							<tr>
								<td>
									9:30 - 9:40
								</td>
								<td colspan="2">
									Introduction
								</td>
							</tr>
							<tr>
								<td>
									9:40 - 10:30
								</td>
								<td>
									Session 1
								</td>
								<td>
									Session 2
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Break
								</td>
							</tr>
							<tr>
								<td>
									10:40 - 11:30
								</td>
								<td>
									Session 3
								</td>
								<td>
									Session 4
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Break
								</td>
							</tr>
							<tr>
								<td>
									11:40 - 12:30
								</td>
								<td>
									Session 5
								</td>
								<td>
									Session 6
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Lunch
								</td>
							</tr>
							<tr>
								<td>
									13:30 - 14:20
								</td>
								<td>
									<h2 class="sub-header">Just A Minute</h2>
									<p>Andrew Faraday</p>
								</td>
								<td>
									<h2 class="sub-header">Lightning Talks</h2>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Break
								</td>
							</tr>
							<tr>
								<td>
									14:30 - 15:20
								</td>
								<td>
									Session 9
								</td>
								<td>
									Session 10
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Break
								</td>
							</tr>
							<tr>
								<td>
									15:30 - 16:20
								</td>
								<td>
									Session 11
								</td>
								<td>
									Session 12
								</td>
							</tr>
							<tr>
								<td>
									16:30 - 17:20
								</td>
								<td>
									Session 13
								</td>
								<td>
									Session 14
								</td>
							</tr>
								<tr>
									<td>
										17:20 - 17:30
									</td>
									<td colspan="2">
										Closing
									</td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
  </div>
</div>
