---
layout: default
title: What's on at the conference
---
<h1>Conference</h1>
<div class="row">
  <div class="col-sm-6" >
  <h3>The Stars</h3>
  <div id="speakers" class="background-images" ></div>
  <p>A <a href="/conference.html#cast" >full cast of speakers</a> covering a full spectrum of topics. From languages and paradigms to API's and hobby projects, something for everyone.</p>
  </div>
  <div class="col-sm-6" >
    <h3>On the day</h3>
    <div id="food" class="background-images" ></div>
    <p>During the day at the conference you'll get drinks, snacks and lunch. And plenty of things for you to do between <a href="/conferece.html#schedule" >talks</a>.</p>
  </div>
</div>

<h2>The Venue</h2>
<p>
  We are proud to be holding the conference at <a href="http://www.theelectric.co.uk/" >The Electric</a> this year.
  The Electric is the oldest working cinema in the UK and you'll be treated by its beautiful rooms, super location (perfect for those who are using public transport to get to us, being directly behing Grand Central Station) and complimentary snacks, drinks and lunch.
</p>
<div class="row">
  <div class="col-sm-6" >
    {% include conference-map.html %}
  </div>
  <div class="col-sm-6 text-left" >
    <p>
      The Electric Cinema
      <br/>
      47–49 Station Street
      <br/>
      Birmingham
      <br/>B5 4DY
    </p>
  </div>
</div>

<a name="cast"></a>
<h2>The Cast</h2>
<p>We've got an amazing cast of speakers for you, willing to share wha they know with you.</p>
{% include speakers.html %}

<a name="schedule"></a>
<h2>Schedule</h2>
<p><strong>The Schedule will be released closer to the event</strong></p>
