---
layout: default
title: What's on at the conference
nav: conf
---
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="big-intro">Now in its fourth year, the Hackference Conference portion is being held in its most beautifully unique venue yet! We are taking over <a href="https://www.theelectric.co.uk/">The Electric</a> in Birmingham, to have an amazing cast of speakers cover a full spectrum of topics. From languages and paradigms to API's and hobby projects, there is something for everyone. So if you are new to programming and computers, an industry expert or anywhere inbetween the two - you do not want to miss out.</p>
				<p class="big-intro">As usual, we'll make sure you will have the best conference lunch you'll ever have, enough snacks and drinks to keep your mind fresh, lots of chances for networking and free entry into our amazing after-party. And you'll get priority tickets to our legendary <a href="/hackathon.html" ><strong>Hackathon</strong></a> when those tickets are released!</p>
			</div>
		</div>
	</div>
</div>

<div class="content-darker venue">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="sub-header">The Venue</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				{% include conference-map.html %}
			</div>
			<div class="col-sm-6">
				<p>This year we are proud to be holding the conference at The Electric, the oldest working cinema in the UK. You'll be treated by its beautiful rooms, comfortable cinema seats, super location - directly behing Grand Central Station (perfect for those who are using public transport) and complimentary snacks, drinks and lunch.</p>
				<p><br><strong>The Electric Cinema </strong><br>47–49 Station Street <br>Birmingham <br>B5 4DY</p>
			</div>
		</div>
	</div>
</div>

<a name="narrators" ></a>
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="sub-header border">Conference Narrators</h4>
			</div>
		</div>
    {% include narrators.html %}
	</div>
</div>

<a name="cast"></a>
{% include speakers.html %}

<a name="schedule"></a>
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="sub-header">Schedule</h4>
				<h5 class="sub-header">Below is the running order, find the talks you want to see most.</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class=" table-responsive" >
					<table class="table schedule">
					  <thead>
							<tr>
								<th width="20%"></th>
								<th>Screen 1</th>
								<th>Screen 2</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									8:30
								</td>
								<td colspan="2">
									Registration
								</td>
							</tr>
							<tr>
								<td>
									9:30
								</td>
								<td colspan="2">
									Introduction
								</td>
							</tr>
							<tr>
								<td>
									9:40
								</td>
								<td>
									<strong><a href="/speakers/martin-splitt.html#talk">Building interactive 3D worlds in the browser with WebGL</a></strong>
									<p><a href="/speakers/martin-splitt.html">Martin Split</a></p>
								</td>
								<td>
									<strong><a href="/speakers/sam-wierema.html#talk">Getting started with Docker</a></strong>
									<p><a href="/speakers/sam-wierema.html">Sam Wierema</a></p>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Break
								</td>
							</tr>
							<tr>
								<td>
									10:30
								</td>
								<td>
									<strong><a href="/speakers/felienne-hermans.html#talk">Using F# and genetic programming to play computer bridge</a></strong>
									<p><a href="/speakers/felienne-hermans.html">Felienne Hermans</a></p>
								</td>
								<td>
									<strong><a href="/speakers/dan-jenkins.html#talk">Getting Physical with Web Bluetooth in the Browser</a></strong>
									<p><a href="/speakers/dan-jenkins.html">Dan Jenkins</a></p>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Break
								</td>
							</tr>
							<tr>
								<td>
									11:20
								</td>
								<td>
									<strong><a href="/speakers/hugh-rawlinson.html#talk">TBC</a></strong>
									<p><a href="/speakers/hugh-rawlinson.html">Hugh Rawlinson</a></p>
								</td>
								<td>
									<strong><a href="/speakers/samathy-barratt.html#talk">From Heaven to Earth - Getting started with C</a></strong>
									<p><a href="/speakers/samathy-barratt.html">Samathy Barratt</a></p>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Lunch
								</td>
							</tr>
							<tr>
								<td>
									13:30
								</td>
								<td>
									<strong>Just A Minute</strong>
									<p><a href="/speakers/andrew-faraday.html">Andrew Faraday</a></p>
								</td>
								<td>
									<strong>Lightning Talks</strong>
									<p>Various Speakers</p>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Break
								</td>
							</tr>
							<tr>
								<td>
									14:30
								</td>
								<td>
									<strong><a href="/speakers/soledad-penades.html#talk">Servo: a browser engine for the 21st century</a></strong>
									<p><a href="/speakers/soledad-penades.html">Soledad Penadés</a></p>
								</td>
								<td>
									<strong><a href="/speakers/etiene-dalcol.html#talk">Get started with Lua</a></strong>
									<p><a href="/speakers/etiene-dalcol.html">Etiene Dalcol</a></p>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Break
								</td>
							</tr>
							<tr>
								<td>
									15:30
								</td>
								<td>
									<strong><a href="/speakers/jonathan-kingsley.html#talk">Cracks in the Facade</a></strong>
									<p><a href="/speakers/jonathan-kingsley.html">Jonathan Kingsley</a></p>
								</td>
								<td>
									<strong><a href="/speakers/daniel-knell.html#talk">Email - Beyond the Send Button</a></strong>
									<p><a href="/speakers/daniel-knell.html">Daniel Knell</a></p>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Break
								</td>
							</tr>
							<tr>
								<td>
									16:20
								</td>
								<td>
									<strong><a href="/speakers/remy-sharp.html#talk">Living Standard</a></strong>
									<p><a href="/speakers/remy-sharp.html">Remy Sharp</a></p>
								</td>
								<td>
									<strong><a href="/speakers/terence-eden.html#talk">Getting New Characters and Emoji into Unicode</a></strong>
									<p><a href="/speakers/terence-eden.html">Terence Eden</a></p>
								</td>
							</tr>
								<tr>
									<td>
										17:00
									</td>
									<td colspan="2">
										Closing
									</td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
  </div>
</div>
