---
layout: default
title: Hackference 2016
---
<div id="header-info">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 info">
      <h3>3 Days for Makers and Doers</h3>
      Our fourth year brings together some of the world's experts to help you Learn, Build and Share. Hackference is your chance to learn and play with something completely different.
    </div>
  </div>
</div>
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="ticket">
					<div class="row">
						<div class="col-sm-6">
							<h4><a href="">The Conference</a></h4>
							<h5>Fri 21st October 2016</h5>
							<img src="assets/img/conf.png" class="border-image">
							<p>A whole day of amazing tech and full of wonderful speakers spread over two tracks. This year, we have taken over the countrys oldest working cinema!</p>
							<p><a href="/conference.html" class="art-deco-button adb-smaller">Read More</a></p>
						</div>
						<div class="col-sm-6">
							<h4><a href="">The Hackathon</a></h4>
							<h5>Sat 22nd - Sun 23rd October 2016</h5>
							<img src="assets/img/hack.png" class="border-image">
							<p>The best way to learn is to build and share, and what better way to do that then spend the weekend among people who love to do the same.</p>
							<p><a href="/hackathon.html" class="art-deco-button adb-smaller">Read More</a></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% include speakers.html %}

<div class="content-darker">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="sub-header">What do people Tweet about Hackference?</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-tweet twitter-tweet-rendered" style="position: static; visibility: visible; display: block; width: 500px; height: 202.766px; padding: 0px; border: none; max-width: 100%; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="720920375442468864" title="Twitter Tweet"></iframe>
			</div>
			<div class="col-md-4">
				<iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-tweet twitter-tweet-rendered" style="position: static; visibility: visible; display: block; width: 500px; height: 202.766px; padding: 0px; border: none; max-width: 100%; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="720920375442468864" title="Twitter Tweet"></iframe>
			</div>
			<div class="col-md-4">
				<iframe id="twitter-widget-2" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-tweet twitter-tweet-rendered" style="position: static; visibility: visible; display: block; width: 500px; height: 202.766px; padding: 0px; border: none; max-width: 100%; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="720920375442468864" title="Twitter Tweet"></iframe>
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
  <div class="col-sm-6" >
    <h3><a href="/conference">Conference</a></h3>
    <div id="conference" class="background-images" ></div>
    <h4>Fri 21st October 2016</h4>
    <p>A whole day of amazing tech, completely full of wonderful speakers over two tracks. You can also share your thoughts in a lightning talk.</p>
    <p><a href="/conference.html" >Find out more about the conference</a></p>
  </div>
  <div class="col-sm-6" >
    <h3><a href="/hackathon">Hackathon</a></h3>
    <div id="hackathon" class="background-images" ></div>
    <h4>Sat 22nd - Sun 23rd October 2016</h4>
    <p>The best way to <strong>learn</strong> is to <strong>build</strong> and <strong>share</strong>, and what better way to do that then spend the weekend among people who love to do the same.</p>
    <p><a href="/hackathon.html" >Find out more about the hackathon</a></p>
  </div>
</div>
<hr>
<h2>Conference Cast</h2>
<p>"It is the supreme art of the teacher to awaken joy in creative expression and knowledge." - <em>Albert Einstein</em></p>
{% include speakers.html %}
<hr>
<h2>Conference Narrators</h2>
{% include narrators.html %} -->
