<meta charset="utf-8">
<title>{{ page.title }} | {{ site.name }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Hackference is a conference and hackathon based around learning and inspiring people to hack - October 21st for the Conference, 22nd and 23rd for the Hackathon - based in Birmingham, UK">
<meta name="robots" content="index, follow">
<meta name="author" content="Mike Elsmore, Jake Price, Curtis Harding">

<meta property="og:title" content="Hackference 2016">
<meta property="og:type" content="website">
<meta property="og:url" content="http://2016.hackference.co.uk">
<meta property="og:image" content="https://pbs.twimg.com/profile_images/715514227885211648/gkFpBOS9.jpg">

<!-- Base CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/slicknav.css">

<!-- Site CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/site.css?t=1769790961">

<!-- Other -->
<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<script type="text/javascript" charset="utf-8" async="" src="https://platform.twitter.com/js/tweet.00c2bb81d4f3f312a9a021c715a1c9dc.js"></script></head>
