<div id="hackference2017">
	<div class="container">
		<div class="col-md-12 text-center">
			<h1><a href="https://2017.hackference.co.uk" >Hackference 2017</a></h1>
			<p>2016 was fantastic, want to come and enjoy Hackference in 2017, head to <a href="https://2017.hackference.co.uk" >https://2017.hackference.co.uk</a>.</p>
		</div>
	</div>
</div>
<div id="hero">
	<div class="container">
		<div class="col-md-12">
			<h1><a href='/'>Hackference 2016</a></h1>
			<h2>21st - 23rd October 2016, Birmingham UK</h2>
			<div class="hero-tickets">
				<a href="/tickets.html" class="art-deco-button">Tickets from £60</a>
			</div>
		</div>
	</div>
</div>
<div id="header">
	<div class="container">
		<div class="col-md-12">
			<ul id="menu" class="top-nav hidden-sm hidden-xs">
				<li><a href="/tickets.html" class="{% if page.nav == 'tickets' %}active{% endif %}">Tickets</a></li>
				<li><a href="/conference.html" class="{% if page.nav == "conf" %}active{% endif %}">Conference</a></li>
				<li><a href="/hackathon.html" class="{% if page.nav ==  "hack" %}active{% endif %}">Hackathon</a></li>
				<li><a href="/sponsors" class="{% if page.nav == "sponsor" %}active{% endif %}">Sponsors</a></li>
				<li><a href="/code-of-conduct.html" class="{% if page.nav == "coc" %}active{% endif %}">Code of conduct</a></li>
			</ul>
		</div>
	</div>
</div>
