<meta charset="utf-8">
<title>{{ page.title }} | {{ site.name }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="robots" content="index, follow">
<meta name="author" content="Jake Price">

<!-- Base CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/slicknav.css">

<!-- Site CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/site.css?t=1467369873">

<!-- Other -->
<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<script type="text/javascript" charset="utf-8" async="" src="https://platform.twitter.com/js/tweet.00c2bb81d4f3f312a9a021c715a1c9dc.js"></script></head>
