<div class="content bar-back">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="sub-header">Conference Cast</h4>
				<h5 class="sub-header">"It is the supreme art of the teacher to awaken joy in creative expression and knowledge." - <em>Albert Einstein</em></h5>
			</div>
		</div>
		<div class="row speaker-slots">
      {% for speaker in site.speakers %}
        {% if speaker.narrator == false %}
          <div class="col-sm-3 col-sm-offset-2">
						<a href="{{ speaker.url }}">
	            <div class="speaker-slot-fp">
	              <div class="speaker-image" style="background: url('/assets/img/{{ speaker.image }}') center;"></div>
	              <div class="speaker-info">{{ speaker.name }}<hr>Keynote</div>
	            </div>
						</a>
          </div>
        {% endif %}
      {% endfor %}
		</div>
	</div>
</div>
