<div class="row">
  {% for speaker in site.speakers %}
  <div class="col-md-3 col-xs-6 speaker">
    <a href='/speakers/{{ speaker.url }}'>
      <img src='/assets/images/{{ speaker.image }}' width="100%"/>
      {{ speaker.name }}
    </a>
    <p>{% if speaker.tagline %}{{ speaker.tagline }}{% endif %}</p>
    {% if speaker.github %}<a href='https://github.com/{{ speaker.github }}'><i class="fa fa-github"></i></a>{% endif %}
    {% if speaker.twitter %}<a href='https://twitter.com/{{ speaker.twitter }}'><i class="fa fa-twitter"></i></a>{% endif %}
    {% if speaker.website %}<a href='{{ speaker.website }}'><i class="fa fa-globe"></i></a>{% endif %}
  </div>
  {% endfor %}
  <div class="col-md-3 col-xs-6 speaker">
    <a href='{{ site.cfp }}'>
      <i class="fa fa-user fa-5x speak-yourself"></i>
      <br/>
      Why not speak yourself?
    </a>
  </div>
</div>
