<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="sub-header border">Our Sponsors</h4>
			</div>
			<!-- Top level sponsorship get col-6 -->
			<div class="row">
        <!-- Executive Producer/Platinum -->
        {% for sponsor in site.sponsors %}
          {% if sponsor.level == "platinum" %}
            <div class="col-sm-6 col-xs-12 newsponsor">
              <a href="{{ sponsor.website }}">
                <img src="/assets/img/{{ sponsor.image }}" width="100%">
      					<div class="sponsor-name">{{ sponsor.name }}</div>
      					<div class="sponsor-meta">Executive Producer</div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
			</div>
			<!-- Second level sponsorship get col-4 -->
			<div class="row">
        <!-- Associate Producer/Gold -->
        {% for sponsor in site.sponsors %}
          {% if sponsor.level == "gold" %}
    				<div class="col-sm-6 col-sm-offset-3 col-xs-12 newsponsor">
              <a href="{{ sponsor.website }}">
                <img src="/assets/img/{{ sponsor.image }}"  width="100%">
      					<div class="sponsor-name">{{ sponsor.name }}</div>
      					<div class="sponsor-meta">Associate Producer</div>
              </a>
    				</div>
          {% endif %}
        {% endfor %}
			</div>
			<!-- Rest sponsorship get col-3 -->
			<div class="row">
        <!-- Assistant Producer/Silver -->
        {% for sponsor in site.sponsors %}
          {% if sponsor.level == "silver" %}
            <div class="col-sm-3 newsponsor">
              <a href="{{ sponsor.website }}">
                <img src="/assets/img/{{ sponsor.image }}" width="100%">
                <div class="sponsor-name smaller">{{ sponsor.name }}</div>
                <div class="sponsor-meta smaller">Assistant Producer</div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
			</div>
			<!-- Rest sponsorship get col-3 -->
			<div class="row">
        <!-- Coordinating Producer/Bronze -->
				<div class="col-sm-2">
				</div>
        {% for sponsor in site.sponsors %}
          {% if sponsor.level == "bronze" %}
            <div class="col-sm-3 newsponsor">
              <a href="{{ sponsor.website }}">
                <img src="/assets/img/{{ sponsor.image }}" width="100%">
              </a>
            </div>
          {% endif %}
        {% endfor %}
			</div>

		</div>
	</div>
</div>
