body {
  background-image: url('http://i.imgur.com/MlHBHyN.gif');
  background-size: cover;
}

#content {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(2, 115, 148, 0.4);
    z-index:9999;
    color: #fff;
}
