---
layout: default
---
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="sub-header border starring">Starring... {{ page.name }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/img/{{ page.image }}" width="100%" class="art-deco-border-image"/>
        {% if page.tagline %}<p><em>{{ page.tagline }}</em></p>{% endif %}
      </div>
      <div class="col-md-8 speaker-description">
        {% capture x %}
        {{ page.description }}
        {% endcapture %}{{ x | markdownify }}
      </div>
    </div>
    {% if page.talk_title %}
    <div class="row">
      <div class="col-md-12">
        <h4 class="sub-header border" style="margin-bottom: 60px">Filmography</h4>
      </div>
      <div class="col-md-4 speaker-talk-title">
        {{ page.talk_title }}
      </div>
      <div class="col-md-8 speaker-description">
        {% capture x %}
        {{ page.talk_abstract }}
        {% endcapture %}{{ x | markdownify }}
      </div>
      {% endif %}
  </div>
</div>

<div class="content-darker">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="sub-header border">Links</h4>

          <p class="big-intro">
            {% if page.github %}Github: <a href='https://github.com/{{ page.github }}'>{{ page.github }}</a> &middot; {% endif %}
            {% if page.twitter %}Twitter: <a href='https://twitter.com/{{ page.twitter }}'>@{{ page.twitter }}</a> &middot; {% endif %}
            {% if page.website %}Website: <a href='{{ page.website }}'>{{ page.website }}</a>{% endif %}
          </p>

      </div>
    </div>
  </div>
</div>
